.order-top {
    font-size: 24px;
    color: #333;
    text-align: center;
    margin: 20px 0 30px;
}

.order  {
    width: 50%;
    margin: 0 auto;
    font-size: 1.3rem;
    border: 2px solid rgb(236, 195, 195);
    border-radius: 7px;
   
}
span{
    display: inline-block;
}

.head{
    margin:1rem;
    margin-right:1rem;
}
.info{
    border-bottom:1px solid rgb(231, 207, 207) ;
}
.total{
    border-bottom:1px solid rgb(231, 207, 207) ;
}
.right{
    float:right;
    margin-right: 1rem;
}
.left{
    float:left;
    margin-left: 1rem;
}

.item{
    margin:1rem;
    
    
}

.info{
    margin:1rem;
}
    